<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" conttent="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>
	<body>
		<script src="vue.js">
		</script>
		
		<div id="app">
			<p>{{ message }}</p>
			<button v-on:click="reverseMessage">クリックする</button>
		</div>
		<script>
			new Vue({
				el: '#app',
				data: {
					message: 'HelloWorld!'
				},
				methods:{
					reversMessage: function() {
					this.message = this.nessage.split('').reverse().join('')
					}
				}
			})
		</script>
	</body>
</html>