<!DOVTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" conttent="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>
	<body>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
		</script>
		
		<div id="app">
			<p>現在{{ number }}回クリックされています</p>
			<button v-on:click="countUp(3)">カウントアップ</button>
			<!-- v-on:click="number += 1" -->
			<p v-on:mousemove="changeMousePosition(10, Sevent)">マウスを載せてください
			<stop v-on:mousemove.stop="noEvent">反応しないでください</stop></p>
			<a v-on:click.prevent="noEvent" href="https://google.com">Google</a>
			<p>X:{{x}},Y:{{y}}</p>
			<input type="text" v-on:keyup.space.enter="myAlert">
		</div>
		<script>
			new Vue({
				el: '#app',
				data: {
					number: 0
					x:0,
					y:0
  				},
  				methods: {
  					countUp: function(times) {
  						this.number += 1 * times
  					},
  					changeMousePosition: function(divideNumber, event) {
  						event.stopPropagation()
  						this.x = event.clientX / divideNumber;
  						this.y = event.clientY / divideNumber;
  						console.log(event):
  					},
  					myAlert() {
  						alert('アラート!');
  					<!-- noEvent: function(event) { -->
  						<!-- event.stopPropagation() }-->
  						<!-- event.preventDefault() }-->
  					}
  				}
			})
		</script>
	</body>
</html>