<!DOVTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" conttent="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>
	<body>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
		</script>
		
		<div id="app">
			<p v-once>{{ message }}</p>
			<p>{{ sayHi() }}</p>
		</div>
		<script>
			new Vue({
				el: '#app',
				data: {
					message: 'Hello World!',
				},
				methods: {
					sayHi() {
    					this.message = 'hello VueJS'
    					return 'Hi'
    				}
  				}
			})
		</script>
	</body>
</html>