<!DOVTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" conttent="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>
	<body>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
		</script>
		
		<div id="app">
			<p>{{ counter }}</p}
				<button @click="counter += 1">+1</button>
				<p>{{ lessThonThreeComputed }}</p>
		</div>
		
		<script>
			new Vue({
				el: '#app',
				data: {
					counter: 0,
					otherCounter: 0
				},
				computed: {
					lessThonThreeComputed: function() {
						console.log('Corputed');
						return this.counter > 3 ? '3より上' : '3以下'
					}
				},
				watch: {
					counter: function() {
						var vm = this;
						setTimeout(function(){
							vm.counter = 0
						},3000)
					}
				}
			})
		</script>
	</body>
</html>